<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
	<div class="flex items-center">
		<img src="{{ .Site.BaseURL }}/img/left-lens-header.png">	
		<style>
			@font-face {
			font-family: 'Red October';
			src: url("fonts/Red October.ttf");
			}
		</style>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
			</style>	
		<div class="flex items-center">
				{{ if .IsHome}}<h1><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			{{ else }}<h2><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>{{ end }}
			<h3><i>Commentaries from People's Perspective</i></h3>
		</div>
	</div>
</div>
<div id="header-menu">
	{{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
</div>